section {
    margin: 20px;
    padding: 10px 20px 10px 20px;
    background-color: #ffd38e;
}

section h1 {
    margin: 0;
}

/* 
##########################
Header section 
##########################
*/

header {
    background-image: url("../img/NEEDTOREPLACETrail-003.jpg");
    background-size: 100%;
    background-repeat: no-repeat;

}

/* 
#####################################
Section: will-learn
#####################################
*/

.lessons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.lesson {
    height: 300px;
    width: 300px;
    margin: 50px;
    padding: 15px;
    transform: rotate(45deg);
    transition: transform 1s;
    border: 2px solid black;
}

.lesson1 {
        background:url('../img/bootprint.svg');
        background-size: 250px 250px;
        background-repeat: no-repeat;
}

/* .lesson1:hover {
    transform: rotate(0deg);
} */

.straighten {
    transform: rotate(0deg);
}
