.intro {
    margin: 20px;
    padding-top: 10px;
    padding-left: 20px;
    height: 600px;
    background-color: rgb(85, 218, 178);
}

.intro h1 {
    margin: 0;
}
/* 
##########################
Header section 
##########################
*/

header {
    background-image: url("../img/NEEDTOREPLACETrail-003.jpg");
    background-size: 100%;
    background-repeat: no-repeat;

}
.openMenu:hover .decoMenuopen {
    margin-bottom: 10px;
    margin-top: 6px;
    transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
}
.openMenu {
    display: block;
    position: fixed;
    z-index: 1000000;
    top: 30px;
    left: 30px;
    width: 60px;
    height: 57px;
    cursor: pointer;
    /*background: #fff;*/
}


.decoMenuopen {
    width: 100%;
    height: 1px;
    margin-bottom: 8px;
    margin-top: 8px;
    background: #fff;
    border-bottom: 1px solid #fff;
    transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
}

.openMenu:hover .decoMenuopen {
    margin-bottom: 10px;
    margin-top: 6px;
    transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
}

/* 
#####################################
Section: will-learn
#####################################
*/

.will-learn {
    margin: 20px;
    padding: 10px;
    /* padding-left: 20px; */
    /* height: 600px; */
    /* display: block; */
    background-color: rgb(85, 218, 178);
}

.lessons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.lesson {
    height: 300px;
    width: 300px;
    margin: 15px;
    padding: 15px;
    /* background-color: #BADA55; */
    background:url('../img/bootprint.svg');
    background-size: 250px 250px;

}